<a href="https://colab.research.google.com/github/Chester-Suyu/PLM-Elective-3-Lab/blob/main/LOOP_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# @title for LOOP Example #1
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [ ]:
# @title break Statement Example #2
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    print(x)
    if x == "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [ ]:
# @title break Statement Example #3
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    if x == "Thursday":
      break
      print(x)

In [ ]:
# @title Looping through a String Example #4
for x in "week":
    print(x)

w
e
e
k

In [ ]:
# @title Example #5
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    if x == "Thursday":
        print(x)
        break

Thursday

In [ ]:
# @title range() Function Example #1
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# @title range() function Example #2
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
# @title Nested Loop Example #1
adjectives = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjectives:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# @title While Statement Example #1
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# @title While Statement with break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# @title Continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# @title else Statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
# @title Create a python program that displays Hello 0 - Hello 10
for i in range(11):
  print(f"hello {i}")

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [ ]:
# @title Create a python program that displays integers less than 10 and not less than 3
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9