<a href="https://colab.research.google.com/github/Chester-Suyu/PLM-Elective-3-Lab/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
x = 5
y = 2
if x > y:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [ ]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [ ]:
z = 1
z, s = 0, -1
z, s, t = 8, 9, 10

z
s
t

10

Casting

In [ ]:
b = "Sally" #This is a string
b = float(4)
b

4.0

Type () Function

In [ ]:
print(type(b))

<class 'float'>

Double Quotes and Single Quotes

In [ ]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [1]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [2]:
h, i, j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [3]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variables and Concatenation +

In [6]:
n = "enjoying"
p = "Python Programming is "
print(p + n)

Python Programming is enjoying

Arithmetic Operations

In [9]:
x = 3
y = 2
print(x+y) #Addition
print(x-y) #Subtraction
print(x*y) #Multiplication
print(round(5/3), 2) #Division
print(x//y) #Floor Division
print(x%y) #Modulus
print(x**y) #Exponentation

5
1
6
2 2
1
1
9

Assignment Operator

In [10]:
x += 3 #same as x = x + 3
print(x)

6

Comparison Operator

In [11]:
# x = 3, y = 2
print(x > y) #Greater than
print(x < y) #Less than
print(x == y) #Equal to
print(x != y) #Not equal to

True
False
False
True

Logical Operators

In [12]:
print(x == y and x != y) #False and True
print(x == y or x != y) #False or True
print(not(x == y or x != y)) #negate(False or True)

False
True
False

Identity Operators

In [3]:
x = 3
y = 2
x is y # x = 3, y = 2
x is not y

True

Bitwise Operators

In [16]:
# 10 + 1 = 11 ; 1010 + 0001 = 1011
print(10 | 1)

x = 0
print(x>>1) # x = 3, 011

11
0

Application 1

In [19]:
#Create a Python program that displays your Fullname, Age, and Course and Section

fullName = str("Chester T. Suyu\n")
age = int(20)
courseSection = str("CPE 0332.1-1")

print(fullName + age + courseSection)

TypeError: can only concatenate str (not "int") to str